body {
  margin: 0;
  background: url('../images/fullbg-tiny.png') black;
  background-size: cover;
  // background-repeat: no-repeat;
  font-family: 'Cutive Mono', monospace;
}

.container {
  margin-right: 20px;
}

#title-banner-wrap {
  // background-color: black;
  margin-right: 100px;
  position: relative;
  left: 0px;

  #title-banner-text {
    margin-left: 40px;
    padding: 35px;
    padding-bottom: 20px;

    h1 {
      font-family: 'Autopiaregular', Georgia, serif;
      color: white;
      position: relative;
      padding: 20px;
      background: url('../images/title-box.svg');
      background-repeat: no-repeat;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

#upper-bg-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 350px;
  // background: url('../images/background-sm.png');
  // background-size: cover;
}
#lower-bg-wrap {
  position: absolute;
  top: 350px;
  right: 0;
  width: 80px;
  height: 420px;
  // background: url('../images/background-sm.png');
  // background-size: cover;
}

/////////// Grid
// TODO: add media queries to stack blocks when necessary
$zen-columns: 8;
$zen-gutters: 0px;
#hud-wrapper {
  color: white;
  position: relative;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
  // padding-right: 30px;
  margin-left: 75px;
  margin-right: 100px;
  // border: 25px solid transparent;
  // border-image:url('../images/hud-box.svg') 20 20 stretch;
  border: 3px solid white;
  overflow: scroll;
  @include zen-grid-container();

  #status-panel {
    @include zen-grid-item(3, 1, left);
    // background-color: #323033;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
  }
  #sentences-panel {
    @include zen-grid-item(5, 1, right);
    background-color: rgba(0, 0, 0, 0.6);
  }
  #record-panel {
    @include zen-new-row(left);
    @include zen-grid-item(3, 1, left);
    height: 180px;
    // background-color: #323033;
    background-color: rgba(255, 255, 255, 0.9);
  }

}

// Animations for both hud and title wrapper sliding out to show navbar
#title-banner-wrap, #hud-wrapper {
  transition: 0.3s all ease-in-out;
  &.pushed {
    left: 360px;
  }
}


// If no WebSpeechAPI or speech recognition, just show sentences panel full-width
.no-getusermedia #hud-wrapper, .no-speechrecognition #hud-wrapper {
  padding: 0;
  border: 1px solid white; // don't bother with fancy border on what we are now presuming, for better or for worse, is mobile
  #sentences-panel {
    @include zen-grid-item(8, 1, left);
    background-color: black;
  }
}
