body {
  margin: 0;
  background: url('../images/fullbg-tiny.png') black;
  background-size: cover;
  // font-family: 'Cutive Mono', monospace;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
}

.container {
  margin-right: 20px;
}

#title-banner-wrap {
  margin-right: 100px;
  position: relative;
  left: 0px;

  #title-banner-text {
    margin-left: 40px;
    padding: 35px;
    padding-bottom: 20px;

    h1 {
      font-family: 'Autopiaregular', Georgia, serif;
      color: white;
      position: relative;
      padding: 20px;
      background: url('../images/title-box.svg');
      background-repeat: no-repeat;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

/////////// Grid
// TODO: add media queries to stack blocks when necessary
$zen-columns: 9;
$zen-gutters: 0px;
#hud-wrapper {
  color: white;
  position: relative;
  height: 70vh;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 75px;
  margin-right: 100px;
  border: 3px solid white;
  overflow: scroll;
  @include zen-grid-container();

  #status-panel {
    @include zen-grid-item(3, 1, left);
    height: 66.6%;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-image: linear-gradient(to right, rgba(255,191,222,1) 0%, rgba(235,214,252,1) 35%, rgba(188,224,238,1) 68%, rgba(204,255,241,1) 97%, rgba(204,255,241,1) 100%);
    }
  }
  #sentences-panel {
    @include zen-grid-item(6, 1, right);
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
  }
  #record-panel {
    @include zen-new-row(left);
    @include zen-grid-item(3, 1, left);
    height: 33.4%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

// Show rainbow border only if both gum and speech recognition are around
.getusermedia.speechrecognition #sentences-panel {
  &::after {
    content: "";
    position: absolute;
    left: 33.333%;
    top: 0;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(to bottom, rgba(255,191,222,1) 0%, rgba(235,214,252,1) 35%, rgba(188,224,238,1) 68%, rgba(204,255,241,1) 97%, rgba(204,255,241,1) 100%);
  }
}



// If no WebSpeechAPI or speech recognition, just show sentences panel full-width
.no-getusermedia #hud-wrapper, .no-speechrecognition #hud-wrapper {
  #sentences-panel {
    @include zen-grid-item(9, 1, left);
  }
}
