<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.75">
    <base href="/"></base>

    <link rel="stylesheet" href="css/styles.css" charset="utf-8">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/autopia" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css' />
    <title>once.upon</title>
  </head>
  <body ng-app="onceUpon">
    <div class="container">
      <nav id="navbar" navbar-expand></nav>

      <div id="title-banner-wrap">
        <div id="title-banner-text">
          <h1>once.upon</h1>
        </div>
      </div>

      <div id="hud-wrapper">
        <div ui-view="status" id="status-panel"></div>
        <div ui-view="sentences" id="sentences-panel" scroller></div>
        <div ui-view="record" id="record-panel"></div>
      </div>

      <div id="upper-bg-wrap"></div>
      <div id="lower-bg-wrap"></div>
    </div>

    <!-- libs -->
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="javascripts/lib/modernizr-custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>

    <script src="javascripts/lib/blob-util.js"></script>
    <script src="javascripts/lib/recorder.js"></script>
    <script src="javascripts/lib/recorderWorker.js"></script>
    <script src="bower_components/lamejs/lame.all.js"></script>

    <!-- app -->
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/services/SocketFactory.js"></script>
    <script src="javascripts/services/SentencesFactory.js"></script>
    <script src="javascripts/directives/directives.js"></script>
    <script src="javascripts/controllers/StatusCtrl.js"></script>
    <script src="javascripts/controllers/SentencesCtrl.js"></script>
    <script src="javascripts/controllers/RecordCtrl.js"></script>

  </body>
</html>
