<!doctype html>
<html>
  <head>
    <title>once.upon</title>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="javascripts/lib/blob-util.js"></script>
    <script src="javascripts/lib/recorder.js"></script>
    <script src="javascripts/lib/recorderWorker.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/services/SocketFactory.js"></script>
    <script src="javascripts/services/SentencesFactory.js"></script>

    <script src="javascripts/directives/directives.js"></script>
    <script src="javascripts/controllers/SentencesCtrl.js"></script>
    <script src="javascripts/controllers/RecordCtrl.js"></script>
    <script src="javascripts/controllers/StatusCtrl.js"></script>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body ng-app="onceUpon">
    <div class="container">
      <!-- using multiple ui-views with angular ui router -->
      <div ui-view="sentences"></div>
      <div ui-view="record"></div>
      <div ui-view="status"></div>
    </div>
  </body>
</html>
