/* Import zen grids */
/* line 1, ../sass/_globals.scss */
body {
  margin: 0;
  background: url("../images/fullbg-tiny.png") black;
  background-size: cover;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
}

/* line 10, ../sass/_globals.scss */
.container {
  margin-right: 20px;
}

/* line 14, ../sass/_globals.scss */
#title-banner-wrap {
  margin-right: 100px;
  position: relative;
  left: 0px;
}
/* line 19, ../sass/_globals.scss */
#title-banner-wrap #title-banner-text {
  margin-left: 40px;
  padding: 35px;
  padding-bottom: 20px;
}
/* line 24, ../sass/_globals.scss */
#title-banner-wrap #title-banner-text h1 {
  font-family: 'Autopiaregular', Georgia, serif;
  color: white;
  position: relative;
  padding: 20px;
  background: url("../images/title-box.svg");
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 41, ../sass/_globals.scss */
#hud-wrapper {
  color: white;
  position: relative;
  height: 70vh;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 75px;
  margin-right: 100px;
  border: 3px solid white;
  overflow: scroll;
}
/* line 69, ../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-2.0.1/sass/zen-grids/_grids.scss */
#hud-wrapper:before {
  content: "";
  display: table;
}
/* line 73, ../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-2.0.1/sass/zen-grids/_grids.scss */
#hud-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 54, ../sass/_globals.scss */
#hud-wrapper #status-panel {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 66.6%;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}
/* line 59, ../sass/_globals.scss */
#hud-wrapper #status-panel::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, #ffbfde 0%, #ebd6fc 35%, #bce0ee 68%, #ccfff1 97%, #ccfff1 100%);
}
/* line 69, ../sass/_globals.scss */
#hud-wrapper #sentences-panel {
  float: right;
  width: 66.66667%;
  margin-right: 0%;
  margin-left: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}
/* line 74, ../sass/_globals.scss */
#hud-wrapper #record-panel {
  clear: left;
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 33.4%;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 86, ../sass/_globals.scss */
.getusermedia.speechrecognition #sentences-panel::after {
  content: "";
  position: absolute;
  left: 33.333%;
  top: 0;
  height: 100%;
  width: 3px;
  background-image: linear-gradient(to bottom, #ffbfde 0%, #ebd6fc 35%, #bce0ee 68%, #ccfff1 97%, #ccfff1 100%);
}

/* line 101, ../sass/_globals.scss */
.no-getusermedia #hud-wrapper #sentences-panel, .no-speechrecognition #hud-wrapper #sentences-panel {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/components/_navbar.scss */
nav#navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  overflow: hidden;
  z-index: 9000;
  background: url("../images/textural-tiny.jpg");
  background-size: cover;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
/* line 16, ../sass/components/_navbar.scss */
nav#navbar.expanded {
  width: calc(100% - 120px);
}
/* line 21, ../sass/components/_navbar.scss */
nav#navbar a {
  text-decoration: none;
  color: black;
}
/* line 26, ../sass/components/_navbar.scss */
nav#navbar #navbar-header {
  position: absolute;
  top: 45%;
  transform: translateY(-50%) rotate(-90deg);
  margin-top: 35px;
  margin-left: -11px;
}
/* line 32, ../sass/components/_navbar.scss */
nav#navbar #navbar-header h2 {
  font-family: 'Autopiaregular', Georgia, serif;
}
/* line 38, ../sass/components/_navbar.scss */
nav#navbar #navbar-content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 40px;
  max-width: 30%;
  opacity: 0;
  text-shadow: 2px 2px 2px #222;
  font-size: 19px;
  color: white;
  transition: all 0.3s ease-in-out;
}
/* line 52, ../sass/components/_navbar.scss */
nav#navbar #navbar-content.showing {
  opacity: 1;
}

/* line 1, ../sass/components/_record.scss */
#record-panel {
  height: 300px;
  overflow: visible;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
}
/* line 9, ../sass/components/_record.scss */
#record-panel #record img {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
}
/* line 16, ../sass/components/_record.scss */
#record-panel #record img:hover, #record-panel #record img:focus {
  opacity: 0.8;
}
/* line 19, ../sass/components/_record.scss */
#record-panel #record img.ready {
  animation: pulse 0.8s infinite ease-in-out alternate;
}
/* line 22, ../sass/components/_record.scss */
#record-panel #record img.active {
  animation: spin 1.0s linear infinite;
  cursor: not-allowed;
}
/* line 26, ../sass/components/_record.scss */
#record-panel #record img.waiting {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 35, ../sass/components/_record.scss */
#record-panel #speech-results {
  font-size: larger;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
}

/* line 47, ../sass/components/_record.scss */
.no-getusermedia #record-panel, .no-speechrecognition #record-panel {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 1, ../sass/components/_sentences.scss */
#sentences-panel {
  height: 500px;
  overflow: scroll;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 220px;
}
/* line 9, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content:after {
  content: "";
  width: calc(66.6% - 3px);
  height: 25%;
  position: absolute;
  top: 75%;
  right: 0;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  z-index: 10;
  pointer-events: none;
}
/* line 20, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list {
  list-style: none;
  font-size: 1.2em;
  font-weight: 300;
  padding-right: 180px;
}
/* line 26, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li {
  margin: 0 0 25px 0;
}
/* line 29, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.sentence {
  cursor: pointer;
}
/* line 31, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.sentence:hover, #sentences-panel #sentences-panel-content ul#sentences-list li.sentence:focus {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
}
/* line 36, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.sentence.playing {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(113, 184, 184, 0.6));
}
/* line 46, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content #playback-controls {
  position: fixed;
  right: 140px;
  z-index: 100;
  top: calc(115px + 70vh);
}
/* line 52, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content #playback-controls img {
  width: 50px;
  height: 50px;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 59, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content #playback-controls img:hover {
  opacity: 0.6;
}
/* line 62, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content #playback-controls img.hidden {
  visibility: hidden;
}

/* line 77, ../sass/components/_sentences.scss */
.no-getusermedia #sentences-panel ul#sentences-list, .no-speechrecognition #sentences-panel ul#sentences-list {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 1, ../sass/components/_status.scss */
#status-panel {
  color: black;
  margin-left: -50px;
}
/* line 5, ../sass/components/_status.scss */
#status-panel #status-panel-content ul#status-list {
  list-style: none;
  line-height: 2.0;
}
/* line 8, ../sass/components/_status.scss */
#status-panel #status-panel-content ul#status-list li {
  font-size: 1.6em;
  font-weight: 500;
}
/* line 15, ../sass/components/_status.scss */
#status-panel #status-panel-content ul#status-list li.active-status {
  color: #4F5E94;
}
/* line 21, ../sass/components/_status.scss */
#status-panel #status-panel-content #current-message {
  font-size: larger;
  padding: 30px;
}

/* line 29, ../sass/components/_status.scss */
.no-getusermedia #status-panel, .no-speechrecognition #status-panel {
  display: none;
}
