/* Import zen grids */
/* line 1, ../sass/_globals.scss */
body {
  margin: 0;
  background: url("../images/fullbg-tiny.png") black;
  background-size: cover;
  font-family: 'Cutive Mono', monospace;
}

/* line 9, ../sass/_globals.scss */
.container {
  margin-right: 20px;
}

/* line 13, ../sass/_globals.scss */
#title-banner-wrap {
  margin-right: 100px;
  position: relative;
  left: 0px;
}
/* line 19, ../sass/_globals.scss */
#title-banner-wrap #title-banner-text {
  margin-left: 40px;
  padding: 35px;
  padding-bottom: 20px;
}
/* line 24, ../sass/_globals.scss */
#title-banner-wrap #title-banner-text h1 {
  font-family: 'Autopiaregular', Georgia, serif;
  color: white;
  position: relative;
  padding: 20px;
  background: url("../images/title-box.svg");
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 37, ../sass/_globals.scss */
#upper-bg-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 350px;
}

/* line 46, ../sass/_globals.scss */
#lower-bg-wrap {
  position: absolute;
  top: 350px;
  right: 0;
  width: 80px;
  height: 420px;
}

/* line 60, ../sass/_globals.scss */
#hud-wrapper {
  color: white;
  position: relative;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 75px;
  margin-right: 100px;
  border: 3px solid white;
  overflow: scroll;
}
/* line 69, ../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-2.0.1/sass/zen-grids/_grids.scss */
#hud-wrapper:before {
  content: "";
  display: table;
}
/* line 73, ../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-2.0.1/sass/zen-grids/_grids.scss */
#hud-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 75, ../sass/_globals.scss */
#hud-wrapper #status-panel {
  float: left;
  width: 37.5%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
}
/* line 82, ../sass/_globals.scss */
#hud-wrapper #sentences-panel {
  float: right;
  width: 62.5%;
  margin-right: 0%;
  margin-left: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 86, ../sass/_globals.scss */
#hud-wrapper #record-panel {
  clear: left;
  float: left;
  width: 37.5%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 97, ../sass/_globals.scss */
#title-banner-wrap, #hud-wrapper {
  transition: 0.3s all ease-in-out;
}
/* line 99, ../sass/_globals.scss */
#title-banner-wrap.pushed, #hud-wrapper.pushed {
  left: 360px;
}

/* line 106, ../sass/_globals.scss */
.no-getusermedia #hud-wrapper, .no-speechrecognition #hud-wrapper {
  padding: 0;
  border: 1px solid white;
}
/* line 109, ../sass/_globals.scss */
.no-getusermedia #hud-wrapper #sentences-panel, .no-speechrecognition #hud-wrapper #sentences-panel {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: black;
}

/* line 9, ../sass/components/_navbar.scss */
nav#navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 450px;
  overflow: hidden;
  z-index: 9000;
  background: url("../images/textural-sm.png");
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/* line 22, ../sass/components/_navbar.scss */
nav#navbar.expanded {
  width: 400px;
}
/* line 26, ../sass/components/_navbar.scss */
nav#navbar a {
  text-decoration: none;
  color: black;
}
/* line 31, ../sass/components/_navbar.scss */
nav#navbar #navbar-header {
  position: absolute;
  bottom: 50px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 35px;
  margin-left: -11px;
}
/* line 37, ../sass/components/_navbar.scss */
nav#navbar #navbar-header h2 {
  font-family: 'Autopiaregular', Georgia, serif;
}
/* line 43, ../sass/components/_navbar.scss */
nav#navbar #navbar-content {
  position: relative;
  left: 0;
  padding: 40px;
  opacity: 0;
  font-family: Georgia, serif;
  transition: all 0.3s ease-in-out;
}
/* line 52, ../sass/components/_navbar.scss */
nav#navbar #navbar-content.showing {
  opacity: 1;
}

/* line 1, ../sass/components/_record.scss */
#record-panel {
  height: 300px;
  overflow: visible;
  padding: 30px;
}
/* line 7, ../sass/components/_record.scss */
#record-panel #record img {
  width: 90px;
  height: 90px;
  margin-left: 30px;
  cursor: pointer;
}
/* line 12, ../sass/components/_record.scss */
#record-panel #record img:hover, #record-panel #record img:focus {
  opacity: 0.8;
}
/* line 16, ../sass/components/_record.scss */
#record-panel #record #record-text {
  position: relative;
  left: 47px;
  top: 74px;
  color: black;
}
/* line 41, ../sass/components/_record.scss */
#record-panel #speech-results {
  font-size: larger;
  padding: 30px;
}

/* line 50, ../sass/components/_record.scss */
.no-getusermedia #record-panel, .no-speechrecognition #record-panel {
  display: none;
}

/* line 1, ../sass/components/_sentences.scss */
#sentences-panel {
  height: 500px;
  overflow: scroll;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 220px;
}
/* line 10, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list {
  list-style: none;
  font-size: 1.4em;
}
/* line 17, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li {
  margin: 0 0 25px 0;
}
/* line 20, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.sentence {
  cursor: pointer;
}
/* line 22, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.sentence:hover, #sentences-panel #sentences-panel-content ul#sentences-list li.sentence:focus {
  background: linear-gradient(to right, #333333, black);
}
/* line 25, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.sentence.playing {
  background: linear-gradient(to left, #333, black);
}
/* line 38, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.active-sentence-you {
  position: relative;
  color: #037C83;
}
/* line 41, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.active-sentence-you:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 80%;
  left: -20px;
  top: 4%;
  border-right: 2px solid #037C83;
}
/* line 51, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.active-sentence-friend {
  position: relative;
  color: orange;
}
/* line 54, ../sass/components/_sentences.scss */
#sentences-panel #sentences-panel-content ul#sentences-list li.active-sentence-friend:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 80%;
  left: -20px;
  top: 4%;
  border-right: 2px solid orange;
}

/* line 72, ../sass/components/_sentences.scss */
.no-getusermedia #sentences-panel ul#sentences-list, .no-speechrecognition #sentences-panel ul#sentences-list {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 1, ../sass/components/_status.scss */
#status-panel {
  margin-left: -50px;
}
/* line 4, ../sass/components/_status.scss */
#status-panel #status-panel-content ul#status-list {
  list-style: none;
  line-height: 3.0;
}
/* line 8, ../sass/components/_status.scss */
#status-panel #status-panel-content ul#status-list li {
  font-size: 1.3em;
}
/* line 14, ../sass/components/_status.scss */
#status-panel #status-panel-content ul#status-list li.active-status {
  color: #71B8B8;
}
/* line 18, ../sass/components/_status.scss */
#status-panel #status-panel-content #current-message {
  font-size: larger;
  padding: 30px;
}

/* line 27, ../sass/components/_status.scss */
.no-getusermedia #status-panel, .no-speechrecognition #status-panel {
  display: none;
}
