body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  padding-bottom: 200px;
}

a {
  color: #00B7FF;
}

li {
  background: #f4f4f4;
  cursor:default;
}

li:hover {
  color: gray;
}

.active {
  color: green;
}

.waiting {
  color: red;
}

.playing {
  color: orange;
}
