@mixin rotateText($degrees) {
  -webkit-transform: rotate(#{$degrees}deg); // Safari
  -moz-transform: rotate(#{$degrees}deg); // Firefox
  -ms-transform: rotate(#{$degrees}deg); // IE
  -o-transform: rotate(#{$degrees}deg); // Opera
  transform: rotate(#{$degrees}deg); // future
}

nav#navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 450px;
  overflow: hidden;
  background: url('../images/textural-sm.png');
  a {
    text-decoration: none;
    color: black;
  }

  #navbar-header  {
    position: absolute;
    bottom: 50px;
    @include rotateText(-90);
    margin-top: 35px;
    margin-left: -11px;
    h2 {
      font-family: 'Autopiaregular', Georgia, serif;
    }
  }

  #navbar-content {
    position: relative;
    top: 80px;
    left: 0;
    padding: 10px;
    visibility: hidden;
  }
}
