@mixin rotateText($degrees) {
  -webkit-transform: rotate(#{$degrees}deg); // Safari
  -moz-transform: rotate(#{$degrees}deg); // Firefox
  -ms-transform: rotate(#{$degrees}deg); // IE
  -o-transform: rotate(#{$degrees}deg); // Opera
  transform: rotate(#{$degrees}deg); // future
}

nav#navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 450px;
  overflow: hidden;
  z-index: 9000;
  background: url('../images/textural-sm.png');
  cursor: pointer;
  transition: 0.4s linear all; // animate folding out navbar



  a {
    text-decoration: none;
    color: black;
  }



  &.expanded {
    width: 400px;
  }



  #navbar-header  {
    position: absolute;
    bottom: 50px;
    @include rotateText(-90);
    margin-top: 35px;
    margin-left: -11px;
    h2 {
      font-family: 'Autopiaregular', Georgia, serif;
    }
  }

  // shouldn't need all the prefixes here cuz we have a gulp task adding them
  #navbar-content {
    position: relative;
    // width: 400px;
    // height: 400px;
    // top: 80px;
    left: 0;
    padding: 40px;
    display: none;
    font-family: Georgia, serif;
    // &.ng-enter, &.ng-move {
    //   // -webkit-transition: 0.5s linear all;
    //   // -moz-transition: 0.5s linear all;
    //   // -o-transition: 0.5s linear all;
    //   transition: 0.5s linear all;
    //   opacity: 0;
    // }
    // &.ng-enter.ng-enter-active, &.ng-move.ng-move-active {
    //   opacity: 1;
    // }
    // &.ng-leave {
    //   // -webkit-animation:0.5s my_animation;
    //   // -moz-animation:0.5s my_animation;
    //   // -o-animation:0.5s my_animation;
    //   animation:0.5s my_animation;
    // }
    // @keyframes my_animation {
    //   from { opacity: 1; }
    //   to { opacity: 0; }
    // }
  }
}
