#record-panel {
  height: 300px;
  overflow: visible;
  // padding: 30px;
  // padding: 15px 0px 15px 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;

  #record {
    img {
      width: 60px;
      height: 60px;
      position: absolute;
      left: 20px;
      bottom: 20px;
      cursor: pointer;
      &:hover, &:focus {
        opacity: 0.8;
      }
    }
    &.ready {
      background-color: green;
    }
    &.waiting {
      background-color: blue;
    }
    &.recording {
      background-color: red;
    }
  }

  #speech-results {
    // background: green;
    font-size: larger;
    // padding: 0px 20px 0px 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    #who {
      // text-decoration: underline wavy black;
    }
  }
}

// Don't display record panel if no speech recognition or microphone
.no-getusermedia #record-panel, .no-speechrecognition #record-panel {
  display: none;
}
