#record-panel {
  height: 300px;
  overflow: visible;
  padding: 30px;
  img {
    width: 90px;
    height: 90px;
    margin-left: 30px;
    cursor: pointer;
    &:hover, &:focus {
      opacity: 0.8;
    }
  }

  // trying to animate record button appearing / disappearing
  // .animate-record {
  //   // opacity: 1;
  //   // line-height: 20px;
  //   // padding: 10px;
  //   // border: 1px solid black;
  //   // background: white;
  //   // & .ng-hide-remove, & .ng-hide-add {
  //   //   transition: all linear 1.5s;
  //   // }
  //   // & .ng-hide {
  //   //   opacity: 0;
  //   //   line-height: 0;
  //   //   padding: 0 10px;
  //   // }
  // }

  #speech-results {
    //font-family: 'Cutive Mono', monospace;
    font-size: larger;
    padding: 30px;
  }

}

// Don't display record panel if no speech recognition or microphone
.no-getusermedia #record-panel, .no-speechrecognition #record-panel {
  display: none;
}
