#sentences-panel {
  height: 500px;
  overflow: scroll;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 220px;
  #sentences-panel-content {
    ul#sentences-list {
      list-style: none;
      font-size: 1.4em;
      padding-right: 180px;

      li {
        margin: 0 0 25px 0;
      }
      li.sentence {
        cursor: pointer;
        &:hover, &:focus {
          background: linear-gradient(to right, rgba(0, 0, 0, 0.25), black);
        }
        &.playing {
          background: linear-gradient(to left, rgba(0, 0, 0, 0.25), black);
        }
      }
    }

    #playback-controls {
      position: fixed;
      right: 140px;
      // height above header + height of hudbox
      top: calc(115px + 70vh);
      img {
        width: 50px;
        height: 50px;
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        &:hover {
          opacity: 0.6;
        }
        &.hidden {
          visibility: hidden;
        }
      }
      #play-button {}
      #pause-button {}
    }
  }
}

// If no getUserMedia / speech recognition, just show sentences panel full-width
// Has to be "or" because firefox has getUserMedia but no speech recognition
.no-getusermedia #sentences-panel, .no-speechrecognition #sentences-panel {
  ul#sentences-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}
