#sentences-panel {
  height: 500px;
  overflow: scroll;
  // padding-top: 25px;
  // padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 220px;
  #sentences-panel-content {
    &.in-progress {
      background: grey;
    }

    ul#sentences-list {
      list-style: none;
      // line-height: 1.8;
      font-family: 'Cutive Mono', monospace;
      font-size: 1.4em;
      // padding-bottom: 200px;

      li {
        margin: 0 0 25px 0;
      }
      li.sentence {
        cursor: pointer;
        &:hover, &:focus {
          background: linear-gradient(to right, #333333, black);
        }
        &.playing {
          background: linear-gradient(to left, #333, black);
        }
      }

      // trying to remove margin above first sentence, looks kinda weird either way
      // margin: 0;
      // li:first-child p {
      //   color: green;
      //   margin-top: 0;
      // }

      // can this be refactored with sass? i'm sure somehow
      li.active-sentence-you {
        position: relative;
        color: #037C83;
        &:before {
          content: "";
          position: absolute;
          width: 2px;
          height: 80%;
          left: -20px;
          top: 4%;
          border-right: 2px solid #037C83;
        }
      }
      li.active-sentence-friend {
        position: relative;
        color: orange;
        &:before {
          content: "";
          position: absolute;
          width: 2px;
          height: 80%;
          left: -20px;
          top: 4%;
          border-right: 2px solid orange;
        }
      }

    }
  }
}

// If no getUserMedia / speech recognition, just show sentences panel full-width
// Has to be "or" because firefox has getUserMedia but no speech recognition
.no-getusermedia #sentences-panel, .no-speechrecognition #sentences-panel {
  ul#sentences-list {
    padding-left: 20px;
    padding-right: 20px;


  }

}
