#sentences-panel {
  height: 500px;
  overflow: scroll;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 220px;
  #sentences-panel-content {
    //try fading text down by putting a pseudoelement with gradient over it
    &:after {
      content: "";
      width: calc(66.6% - 3px); // leave rainbow border intact!
      height: 25%;
      position: absolute;
      top: 75%;
      right: 0;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      z-index: 10;
      pointer-events: none; // let people click the sentences through this overlay
    }
    ul#sentences-list {
      list-style: none;
      font-size: 1.2em;
      font-weight: 300;
      padding-right: 50px;
      @media #{$mobile-up} {
        padding-right: 180px;
      }

      li {
        margin: 0 0 25px 0;
      }
      li.sentence {
        cursor: pointer;
        &:hover, &:focus {
          background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
        }
        &.playing {
          background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(113, 184, 184, 0.6));
        }
        &.being-input {
          // cursor that looks like it's being typed
          span.blinking-cursor-you {
            font-weight: 700;
            animation: 1s blink-red step-end infinite;
            -webkit-animation: 1s blink-red step-end infinite;
          }
          span.blinking-cursor-friend {
            font-weight: 700;
            animation: 1s blink-blue step-end infinite;
            -webkit-animation: 1s blink-blue step-end infinite;
          }
        }
        &.ng-enter {
          transition: 0.3s linear all;
          opacity: 0;
        }
        &.ng-enter.ng-enter-active {
          opacity: 1;
        }
      }
    }

    #playback-controls {
      position: fixed;
      right: 40px;
      z-index: 100;
      top: calc(95px + 70vh);

      img {
        width: 30px;
        height: 30px;
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        &:hover {
          opacity: 0.6;
        }
      }

      @media #{$mobile-up} {
        // height above header + height of hudbox
        // top: calc(115px + 70vh);
        right: 140px;
      }
    }

    #new-entries {
      position: fixed;
      right: 100px;
      left: calc(50% + 72px);
      z-index: 100;
      top: calc(95px + 70vh);
      cursor: pointer;
      opacity: 0;

      &.visible {
        opacity: 1;
      }
      &.pulsing {
        opacity: 1;
        animation: 0.8s pulse-button linear infinite;
        -webkit-animation: 0.8s pulse-button linear infinite;
      }


      img {
        width: 200px;
        height: 50px;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

// If no getUserMedia / speech recognition, just show sentences panel full-width
// Has to be "or" because firefox has getUserMedia but no speech recognition
.no-getusermedia #sentences-panel, .no-speechrecognition #sentences-panel {
  ul#sentences-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  // When other panels are disabled and sentences panel is wider, make sure the
  // gradient overlay is matched up to the new width
  #sentences-panel-content:after {
    width: calc(100% - 3px);
  }
}


// Should abstract this into a sass function, for now just makin it happen
@keyframes "blink-red" {
  from, to {
    color: transparent;
  }
  50% {
    color: #bb5656;
  }
}

@-webkit-keyframes "blink-red" {
  from, to {
    color: transparent;
  }
  50% {
    color: #bb5656;
  }
}

@keyframes "blink-blue" {
  from, to {
    color: transparent;
  }
  50% {
    color: #4F5E94;
  }
}

@-webkit-keyframes "blink-blue" {
  from, to {
    color: transparent;
  }
  50% {
    color: #4F5E94;
  }
}

@keyframes "pulse-button" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "pulse-button" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
