#status-panel {
  #status-panel-content {
    ul#status-list {
      list-style: none;
      line-height: 3.0;
      font-family: 'Cutive Mono', monospace;
      li {
        font-size: larger;
      }
      li.waiting-status {

      }
      li.active-status {
        color: #71B8B8;
      }
    }
    #current-message {
      font-family: 'Cutive Mono', monospace;
      font-size: larger;
      // padding-left: 30px;
      padding: 30px;
    }
  }
}
