#status-panel {
  margin-left: -50px;
  #status-panel-content {
    ul#status-list {
      list-style: none;
      line-height: 3.0;
      font-family: 'Cutive Mono', monospace;
      li {
        font-size: 1.3em;
      }
      li.waiting-status {

      }
      li.active-status {
        color: #71B8B8;
      }
    }
    #current-message {
      font-family: 'Cutive Mono', monospace;
      font-size: larger;
      padding: 30px;
    }
  }
}

// Don't display record panel if no speech recognition or microphone
.no-getusermedia #status-panel, .no-speechrecognition #status-panel {
  display: none;
}
