<div class="page-header">
  <h1>once.upon</h1>
</div>

<div id="sentences">
  <ul>
    <li ng-mouseover="playAudio($event)" ng-mouseleave="pauseAudio($event)"
        ng-repeat="sentence in sentences" id="{{sentence._id}}">
      <p>{{sentence.text}} {{sentence.timestamp}}</p>
      <audio ng-src="getRecording\/{{sentence._id}}" id="testAudio">
        Your browser does not support the <code>audio</code> element.
      </audio>

    </li>
  </ul>
</div>

<form id="addSentence" ng-submit="addSentence()" method="post">
  <h3>Add a new sentence</h3>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="your text here" ng-model="text">
  </div>
  <button class="btn btn-primary" type="submit">post</button>
</form>
