<div class="page-header">
  <h1>once.upon</h1>
</div>

<div id="sentences">
  <ul>
    <li once-play-from="{{sentence._id}}" ng-repeat="sentence in sentences">

    <!-- <li ng-mouseover="playAudio($event)" ng-mouseleave="pauseAudio($event)"
        ng-click="playFrom($event)" ng-repeat="sentence in sentences" id="{{sentence._id}}"> -->
      <p>{{sentence.text}}</p>
      <audio once-audio="{{sentence._id}}" id="{{sentence._id}}">
        Your browser does not support the <code>audio</code> element.
      </audio>

    </li>
  </ul>
</div>
