<div id="navbar-header">
  <a id="what" href="#">what?</a>
  <a id="how" href="#">how?</a>
</div>
<div id="navbar-what-content" class="navbar-content">
  <p>
    Once.upon is an eternal communal fable in the browser;
    an Elysium of incorporeal narrators; a glocal commons borne of the yarn.
    Each visiting teller in turn records hirself speaking a sentence.
    As it is spoken, the contribution is transcribed and saved, then the baton
    is passed to the next in queue. Visitors may listen back from any point.
  </p>

  <p ng-hide="recordEnabled" id="no-record">
    Your browser doesn't support recording. If you'd like to add to the story,
    please use Google Chrome.
  </p>

  <p>
    A project by Ashlin Aronin and Andre Brown.
  </p>
</div>
<div id="navbar-how-content" class="navbar-content">
  <p>
    This story is being created by many people.
  </p>

  <ol>
    <li>
      Use the scroll wheel or your mouse to see what’s happened so far.
      Click on a sentence to hear the story from that point.
    </li>
    <li>
      Anyone can listen to the story at one time, but there can only be one
      active contributor. When your status is 'ready' and the record button is
      pulsating, you are record enabled. When you're ready, press the record button
      and start speaking into the headset. You will see your speech transcribed
      automatically in the record panel, and anyone else logged on to the site
      will be able to watch your contribution in real time.
    </li>
    <li>
      Once.upon will stop recording automatically after you finish speaking.
      If you pause during your contribution, the system may cut you off.
      This is to encourage quick turnover so many people can participate.
    </li>
    <li>
      Enjoy!
    </li>
  </ol>
</div>
