<!-- <div id="record" ng-show="SocketFactory.userPosition == 0">
  <div id="speech-results">
    <p><strong>your contribution</strong>: {{interim}}</p>
  </div>
  <button type="button" name="start" id="start" ng-click="start()">i'm ready</button>
  <button type="button" name="export" id="export" ng-click="save()">i'm done</button>
</div>
 -->


<!-- <div id="record-panel"> -->
  <!-- record img here -->
  <!-- <p> -->
  <!-- <div id="speech-results">
    <p>
      <strong>your contribution</strong>: {{interim}}
    </p>
  </div> -->
<div id="record">
  <img role="button" ng-click="start()" id="record-img" src="images/large.png" ng-show="SocketFactory.userPosition == 0"/>
</div>
  <!-- <button type="button" name="start" id="start" ng-click="start()"> -->
  <!-- </button> -->
<div id="speech-results" ng-show="(SocketFactory.userPosition == 0) && recognizing">
  <p>
    <em>you</em>: {{interim}}
  </p>
</div>
  <!-- </p> -->
<!-- </div> -->
