<div id="sentences-panel-content">
  <ul id="sentences-list" playback>
    <li ng-click="PlaybackFactory.playAudio(sentence._id)"
        ng-repeat="sentence in SentencesFactory.sentences" class="sentence" id="{{sentence._id}}">
      <p>{{sentence.text}}</p>
    </li>
    <li ng-class="SocketFactory.currentMessage.inProgress ? 'visible' : 'invisible'" class="sentence being-input">
      {{SocketFactory.currentMessage.text}}<span ng-class="getCursorClass()">|</span>
    </li>

  </ul>
  <div id="new-entries">
    <img role="button" ng-click="scrollToBottom()" src="images/newentries.svg" alt="new entries" />
  </div>
  <div id="playback-controls">
    <audio id="playback">
      Your browser does not support the <code>audio</code> element.
      Try using a newer version of Chrome, Safari or Firefox.
    </audio>
    {{playing}}
    <img id="play-button" src="images/playbutton.svg" ng-click="PlaybackFactory.playFromBeginning()" ng-show="!PlaybackFactory.playing" />
    <img id="pause-button" src="images/pausebutton.svg" ng-click="PlaybackFactory.stopAll()" ng-show="PlaybackFactory.playing" />
  </div>
</div>
