<div id="sentences-panel-content">
  <ul id="sentences-list" playback>
    <li ng-click="PlaybackFactory.playAudio(sentence._id)" ng-repeat="sentence in SentencesFactory.sentences" class="sentence" id="{{sentence._id}}">
      <p>{{sentence.text}}</p>
    </li>
    <li ng-show="SocketFactory.currentMessage.inProgress" class="sentence being-input">{{SocketFactory.currentMessage.text}}<span class="blinking-cursor">|</span></li>
    <!-- <li class="sentence being-input">This is some sample text that is currenlty being inputted.<span class="blinking-cursor">|</span></li> -->
  </ul>
  <div id="playback-controls">
    <audio id="playback">
      Your browser does not support the <code>audio</code> element.
      Try using a newer version of Chrome, Safari or Firefox.
    </audio>
    {{playing}}
    <img id="play-button" src="images/playbutton.svg" ng-click="PlaybackFactory.playFromBeginning()" ng-show="!PlaybackFactory.playing" />
    <img id="pause-button" src="images/pausebutton.svg" ng-click="PlaybackFactory.stopAll()" ng-show="PlaybackFactory.playing" />
  </div>
</div>
