<div id="user-status">
  Current status:
  <span ng-show="userPosition === 0 && !remainingTime" class="active">active</span>
  <span ng-show="userPosition === 0 && remainingTime" class="countdown">active, {{remainingTime}} seconds left to contribute</span>
  <span ng-show="userPosition === 0 && remainingTime === 0" class="countdown-over">Sorry, let's give someone else a turn!</span>
  <span ng-show="userPosition !== 0" class="waiting">waiting in position {{userPosition}}, {{totalUsers}} total users</span>
</div>

<p>
  userPosition: {{userPosition}}
</p>

<p>
  remainingTime: {{remainingTime}}
</p>

<p>
  countingDown: {{countingDown}}
</p>


<div id="current-message" ng-show="currentMessage.inProgress">
  {{currentMessage.userId}} says: {{currentMessage.text}}
</div>
