<div id="status-panel-content">
  <ul id="status-list">
    <li ng-repeat="user in range(totalUsers) track by $index"
      ng-class="(userPosition == user) ? 'active-status' : 'waiting-status'">
      {{getStatusText($index)}}
      <!-- {{$last ? 'speaking' : 'waiting'}} -->
      <span ng-show="((userPosition == user) && (user == 0) && (countingDown))">{{remainingTime}}</span>
    </li>
  </ul>

  <div id="current-message" ng-show="currentMessage.inProgress && (userPosition != 0)">
    <em>friend</em>: {{currentMessage.text}}
  </div>
</div>
