<div id="navbar-header">
  <h2 id="main-header">what?</h2>
  <h2 id="mobile-header">?</h2>
</div>
<div id="navbar-content">
  <p>
    Once.upon is an eternal communal fable in the browser;
    an Elysium of incorporeal narrators; a glocal commons borne of the yarn.
    Each visiting teller in turn records hirself speaking a sentence.
    As it is spoken, the contribution is transcribed and saved, then the baton
    is passed to the next in queue. Visitors may listen back from any point.
  </p>

  <p ng-hide="Modernizr.getusermedia && Modernizr.speechrecognition" id="no-record">
    Your browser doesn't support recording. If you'd like to add to the story,
    please use Google Chrome.
  </p>

  <p>
    A project by Ashlin Aronin and Andre Brown.
  </p>
</div>
